---
import '../styles/global.css';
import AuthMascota from '../components/AuthMascota.jsx';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Entrar - Maxi Emprendedores</title>
	</head>
	<body className="bg-slate-50 antialiased">
		<AuthMascota client:load />
	</body>
</html>